@import '../sticky/index';
@import '../cascader/index';

.nut-theme-dark {
  .nut-tabs {
    &__titles {
      background: $dark-background3;

      &-item {
        color: $dark-color-gray;

        &.nut-tabs-active {
          color: $dark-color;
        }
      }
    }

    &.vertical {
      .nut-tabs__titles {
        &-item {
          &.nut-tabs-active {
            background-color: $dark-background2;
          }
        }
      }
    }
  }
}

.nut-tabs {
  display: flex;
  overflow: hidden;

  &.horizontal {
    flex-direction: column;
  }

  &.vertical {
    flex-direction: row;
    width: 100%;

    .nut-tabs__titles {
      flex-direction: column;
      flex-shrink: 0;
      width: $tabs-vertical-titles-width;
      height: 100%;
      padding: 10px 0 !important;

      .nut-tabs__list  {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
      }

      &.scrollable {
        overflow-x: hidden;
        overflow-y: auto;

        .nut-tabs__titles-item {
          padding: 0 10px 0 15px;
        }
      }

      &.scroll-vertical {
        height: auto;
        overflow-y: scroll;

        .nut-tabs__titles-placeholder {
          height: 22px;
        }
      }

      &-item {
        flex: none;
        height: $tabs-vertical-titles-item-height;

        &__smile {
          transition: width 0.3s ease;
        }

        &__line {
          bottom: none;
          width: 0;
          height: 0;
          transition: height 0.3s ease;
          transform: translate(0, -50%);
        }

        &.nut-tabs-active {
          background-color: #fff;

          .nut-tabs__titles-item__line {
            left: 10px;
            width: 3px;
            height: $tabs-vertical-titles-item-active-line-height;
            background: $tabs-vertical-tab-line-color;
          }

          .nut-tabs__titles-item__smile {
            right: -8px;
            bottom: 2px;
            left: auto;
            width: 3px;
            height: $tabs-vertical-titles-item-active-line-height;
            transform: rotate(320deg);
          }
        }
      }
    }

    .nut-tabs__content {
      flex: 1;
      flex-direction: column;

      .nut-tab-pane {
        height: 100%;
      }
    }
  }

  &__titles {
    display: flex;
    flex-shrink: 0;
    height: $tabs-horizontal-titles-height;
    user-select: none;
    background: $tabs-titles-background-color;
    border-radius: $tabs-titles-border-radius;

    .nut-tabs__list {
      display: flex;
      flex-shrink: 0;
      width: 100%;
      height: $tabs-horizontal-titles-height;
    }

    &.large {
      .nut-tabs__titles-item {
        font-size: $tabs-titles-item-large-font-size;
      }
    }

    &.normal {
      .nut-tabs__titles-item {
        font-size: $tabs-titles-item-font-size;
      }
    }

    &.small {
      .nut-tabs__titles-item {
        font-size: $tabs-titles-item-small-font-size;
      }
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    &.smile {
      .nut-tabs__titles-item {
        &.nut-tabs-active {
          .nut-tabs__titles-item__smile {
            width: 36px;
            height: 10px;
          }
        }
      }
    }

    &.scrollable {
      overflow-x: auto;
      overflow-y: hidden;

      .nut-tabs__titles-item {
        width: auto;
      }
    }

    &-item {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      justify-content: center;
      width: 0;
      min-width: $tabs-horizontal-titles-item-min-width;
      font-size: $tabs-titles-item-font-size;
      color: $tabs-titles-item-color;

      &.nut-tabs__titles-placeholder {
        width: auto;
        min-width: 10px;
      }

      .uni {
        height: 46px;
        line-height: 46px;
      }

      &__text {
        &.ellipsis {
          @include oneline-ellipsis;
        }

        text-align: center;
      }

      &__smile,
      &__line {
        position: absolute;
        bottom: 15%;
        left: 50%;
        width: 0;
        height: 0;
        overflow: hidden;
        content: ' ';
        border-radius: $tabs-titles-item-line-border-radius;
        opacity: $tabs-titles-item-line-opacity;
        transition: width 0.3s ease;
        transform: translate(-50%, 0);
      }

      &__smile {
        .nut-icon {
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 12px;
          color: $tabs-tab-smile-color;
        }
      }

      &.disabled {
        color: $disable-color;
      }

      &.nut-tabs-active {
        font-weight: bold;
        color: $tabs-titles-item-active-color;

        .nut-tabs__titles-item__line {
          width: $tabs-horizontal-titles-item-active-line-width;
          height: 3px;
          content: ' ';
          background: $tabs-horizontal-tab-line-color;
        }
      }
    }
  }

  &__content {
    box-sizing: border-box;
    display: flex;
  }
}

.tabs-scrollview {
  white-space: nowrap;
}



scroll-view ::-webkit-scrollbar{
    display: none;
    width: 0 !important;
    height: 0 !important;
    background: transparent;
}

