@import '../popup/index';

.nut-theme-dark {
  .nut-time-select {
    background-color: $dark-background2;

    &__title {
      color: $dark-color;
      background-color: $dark-background2;
    }

    &__content {
      &__pannel {
        color: $dark-color;
        background-color: $dark-background3;
      }

      &__detail {
        background-color: $dark-background2;
      }
    }
  }
}

.nut-time-select {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    width: $timeselect-title-width;
    height: $timeselect-title-height;
    padding-bottom: 10px;
    font-size: $timeselect-title-font-size;
    line-height: $timeselect-title-line-height;
    color: $timeselect-title-color;
    text-align: center;

    &__fixed {
      width: 100%;
      height: 50px;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: calc(100% - $timeselect-title-height - 10px);

    &__pannel {
      width: 140px;
      height: 100%;
      overflow: auto;
      background-color: $timeselect-pannel-bg-color;
    }

    &__detail {
      width: calc(100% - 140px);
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
