.nut-divider {
  display: flex;
  align-items: center;
  margin: $divider-margin;
  font-size: $divider-text-font-size;
  color: $divider-text-color;

  &::before,
  &::after {
    flex: 1;
    height: $divider-line-height;
    content: '';
    border: $divider-line-height solid currentColor;
    border-width: $divider-line-height 0 0;
  }

  &.nut-divider-center,
  &.nut-divider-left,
  &.nut-divider-right {
    &::before {
      margin-right: $divider-before-margin-right;
    }

    &::after {
      margin-left: $divider-after-margin-left;
    }
  }

  &.nut-divider-left {
    &::before {
      max-width: 10%;
    }
  }

  &.nut-divider-right {
    &::after {
      max-width: 10%;
    }
  }

  &.nut-divider-dashed {
    &::before,
    &::after {
      border-style: dashed;
    }
  }

  &.nut-divider-hairline {
    &::before,
    &::after {
      transform: scaleY(0.5);
    }
  }

  &.nut-divider-vertical {
    position: relative;
    top: $divider-vertical-top;
    display: inline-block;
    height: $divider-vertical-height;
    margin: $divider-vertical-margin;
    border-left: 1px solid $divider-vertical-border-left;
  }
}
