.nut-theme-dark {
  .nut-range-container {
    background: $dark-background;

    .nut-range-min,
    .nut-range-max {
      color: $dark-color-gray;
    }

    .nut-range {
      &-mark-text {
        color: $dark-color-gray;
      }

      &-button {
        .number {
          color: $dark-color;
        }
      }
    }
  }
}

.nut-range-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4px;

  .nut-range-min,
  .nut-range-max {
    font-size: $font-size-1;
    color: $range-tip-font-color;
    user-select: none;
  }

  &-vertical {
    flex-direction: column;
    height: 100%;
    padding: 0 15px;

    .nut-range {
      width: 4px;
      height: 100%;

      &-button {
        &-wrapper,
        &-wrapper-right {
          position: absolute;
          top: initial;
          right: initial;
          bottom: 0;
          left: 50%;
          transform: translate3d(-50%, 50%, 0);
        }

        &-wrapper-left {
          top: 0;
          right: initial;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      .number {
        transform: translate3d(100%, 0, 0);
      }

      &-vertical {
        margin: 10px 0;
      }

      &-mark {
        position: absolute;
        top: initial;
        right: 50%;
        width: 100%;
        width: 36px;
        height: 100%;
        padding: 0;
        overflow: visible;
        font-size: 12px;
      }

      &-mark-text {
        position: absolute;
        display: inline-block;
        width: 20px;
        line-height: 16px;
        color: #999;
        text-align: center;
        word-break: keep-all;
        user-select: none;
        transform: translateY(-50%);

        &-active {
          .nut-range-tick {
            background: $range-bar-bg-color;
          }
        }
      }

      &-tick {
        position: absolute;
        top: 0;
        left: 30px;
        width: 11px;
        height: 11px;
        margin-left: -0;
        background-color: $range-bg-color-tick;
        border-radius: 50%;
      }
    }
  }
}

.nut-range {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 2px;

  &::before {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: $range-bg-color;
    opacity: 0.5;
  }

  &-bar {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: $range-bar-bg-color;
    border-radius: inherit;
    transition: all 0.2s;
  }

  &-button {
    display: block;
    width: $range-bar-btn-width;
    height: $range-bar-btn-height;
    background-color: $range-bar-btn-bg-color;
    border: $range-bar-btn-border;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);

    &-wrapper,
    &-wrapper-right {
      position: absolute;
      top: 50%;
      right: 0;
      cursor: grab;
      outline: none;
      transform: translate3d(50%, -50%, 0);
    }

    &-wrapper-left {
      position: absolute;
      top: 50%;
      left: 0;
      cursor: grab;
      outline: none;
      transform: translate3d(-50%, -50%, 0);
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: $font-size-1;
      color: $range-tip-font-color;
      user-select: none;
      transform: translate3d(0, -100%, 0);
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.54;

    .nut-range-button-wrapper,
    .nut-range-button-wrapper-left,
    .nut-range-button-wrapper-right {
      cursor: not-allowed;
    }
  }

  &-show-number {
    margin: 0 15px;
  }

  &-mark {
    position: absolute;
    top: 50%;
    width: 100%;
    padding-top: 14px;
    overflow: visible;
    font-size: 12px;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    line-height: 16px;
    color: #999;
    text-align: center;
    word-break: keep-all;
    user-select: none;
    transform: translateX(-50%);

    &-active {
      .nut-range-tick {
        background: $range-bar-bg-color;
      }
    }
  }

  &-tick {
    position: absolute;
    top: -20px;

    // margin-left: -11px;
    left: 0;
    width: 11px;
    height: 11px;
    background-color: $range-bg-color-tick;
    border-radius: 50%;
  }
}
