# 其他包管理器LOCK文件
package-lock.json
yarn.lock

# 本地文件
.env.local
.env.*.local
*.local

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 缓存文件
.temp
.cache
.eslintcache
.stylelintcache
.output
.nuxt

# 制品文件
node_modules
dist
dist-ssr
/coverage

# IDE文件
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.project
.idea
.hbuilderx
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
