# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
stats.html

node_modules
uni_modules/dist
dist
dev-dist
locale
cache
*.local
dist.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.stylelintcache
example/src/components.d.ts
example/src/pages.json
