@import '../button/index';
@import '../popup/index';

.nut-theme-dark {
  .nut-dialog {
    &__header {
      color: $dark-color3;
    }
  }
}

.nut-dialog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $dialog-width;
  min-height: 156px;
  padding: 28px 24px 16px;

  &__header {
    display: block;
    height: 20px;
    font-size: 16px;
    font-weight: $dialog-header-font-weight;
    color: $dialog-header-color;
    text-align: center;

    @include oneline-ellipsis;
  }

  &__content {
    flex: 1;
    width: 100%;
    max-height: 268px;
    margin: 20px 0;
    overflow: auto;
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: $dialog-footer-justify-content;
    width: 100%;

    &.vertical {
      flex-direction: column;

      .nut-button {
        min-width: 100%;
        margin: 0;

        &.nut-dialog__footer-cancel {
          border: 0;
        }

        &.nut-dialog__footer-ok {
          margin-top: 10px;
        }
      }
    }

    .nut-button {
      min-width: 100px;
      overflow: hidden;
    }

    &-cancel {
      margin-right: 20px;
    }

    &-ok {
      max-width: 128px;
    }
  }
}
