.nut-theme-dark {
  .nut-textarea {
    background: $dark-background;

    &__textarea {
      color: $dark-color;
    }
  }
}

.nut-textarea {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 10px 25px;
  font-size: $textarea-font;
  background: $white;

  $block: &;

  &--disabled {
    #{$block}__textarea,
    #{$block}__limit {
      color: $textarea-disabled-color !important;
      cursor: not-allowed;
    }
  }

  &__limit {
    position: absolute;
    right: 15px;
    bottom: 12px;
    font-size: $textarea-font;
    color: $textarea-limit-color;
  }

  &__textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
    font-size: $textarea-font;
    line-height: 20px;
    color: $textarea-text-color;
    text-align: left;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__ali {
    line-height: 17px;
  }
}
