.nut-theme-dark {
  .nut-picker {
    &-roller {
      color: $dark-color;

      &-item {
        color: $dark-color;
      }

      &-item-tile {
        color: $dark-color;
      }

      &-item-tarotile{
        color: $dark-color;
      }
    }

    &-roller-mask {
      z-index: 1;
      background-image: linear-gradient(180deg, rgb(27 27 27 / 90%), rgb(27 27 27 / 40%)),
      linear-gradient(0deg, rgb(27 27 27 / 90%), rgb(27 27 27 / 40%));
      background-repeat: no-repeat;
      background-position: top, bottom;
    }
  }
}

.nut-picker {
  &__list {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    -webkit-overflow-scrolling: touch;
  }

  &-roller {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: var(--line-height);
    color: $picker-item-text-color;
    transform: translateY(-50%);
    transform-style: preserve-3d;

    &-item {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: $picker-item-height;
      overflow: hidden;
      font-size: $picker-item-text-font-size;
      line-height: $picker-item-height;
      color: $picker-item-text-color;
      text-overflow: ellipsis;
      white-space: nowrap;
      backface-visibility: hidden;

      &-hidden {
        visibility: hidden;
        opacity: 0;
      }
    }

    &-item-tile {
      display: block;
      width: 100%;
      overflow: hidden;
      font-size: $picker-item-text-font-size;
      color: $picker-item-text-color;
      text-align: center;
      text-overflow: ellipsis;
    }

    &-item-tarotile {
      display: block;
      width: 100%;
      overflow: hidden;
      font-size: $picker-item-text-font-size;
      color: $picker-item-text-color;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-roller-mask {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(255 255 255 / 90%), rgb(255 255 255 / 40%)),
      linear-gradient(0deg, rgb(255 255 255 / 90%), rgb(255 255 255 / 40%));
    background-repeat: no-repeat;
    background-position: top, bottom;
  }
}
