.nut-theme-dark {
  .nut-circle-progress{
    .nut-circle-progress__text {
      color: $dark-color;
    }
  }
  
}

.nut-circle-progress {
  position: relative;

  &__hover {
    stroke: $circleprogress-primary-color;
    transition: stroke-dasharray 0.6s ease 0s, stroke 0.6s ease 0s;
  }

  &__path {
    stroke: $circleprogress-path-color;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: $circleprogress-text-size;
    color: $circleprogress-text-color;
    text-align: center;
    transform: translateY(-50%);
  }
}
