.nut-theme-dark {
  .nut-calendar {
    color: $dark-color;
    background: $dark-background;

    .nut-calendar__header {
      color: $dark-color;
      background: $dark-background;
    }

    .nut-calendar__content {
      .nut-calendar__panel {
        .nut-calendar__days {
          .calendar-month-day {
            &-choose {
              color: $calendar-choose-font-color;
              background-color: $dark-calendar-choose-color;
            }
          }
        }
      }
    }

    .nut-calendar__footer {
      color: $dark-color;
      background: $dark-background2;
    }
  }
}

.nut-calendar {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  color: #333;
  background-color: $white;

  &.nut-calendar--nopop {
    .nut-calendar__header {
      .nut-calendar__header-title {
        font-size: $calendar-base-font;
      }
    }
  }

  .popup-box {
    height: 100%;
  }



  ::-webkit-scrollbar {
    display: none;
  }

  // 头部导航
  .nut-calendar__header {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    text-align: center;
    background-color: $white;

    .nut-calendar__header-title {
      font-size: $calendar-title-font;
      font-weight: $calendar-title-font-weight;
      line-height: 44px;
    }

    .nut-calendar__header-slot {
      min-height: 24px;
    }

    .nut-calendar__header-subtitle {
      padding: 7px 0;
      font-size: $calendar-sub-title-font;
      line-height: 22px;
    }

    .nut-calendar__weekdays {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 36px;
      border-radius: 0 0 12px 12px;
      box-shadow: 0 4px 10px 0 rgba($color: #000, $alpha: 6%);

      .nut-calendar__weekday {
        &.weekend {
          color: $calendar-day67-font-color;
        }
      }
    }
  }

  // 月份
  .nut-calendar__content {
    display: block;
    flex: 1;
    width: 100%;
    overflow-y: auto;

    .nut-calendar__panel {
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: auto;

      .nut-calendar__body {
        display: block;
      }

      .nut-calendar__month {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      div:nth-of-type(2) {
        .nut-calendar__month-title {
          padding-top: 0;
        }
      }

      .calendar-loading-tip {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        height: 50px;
        font-size: $calendar-text-font;
        line-height: 50px;
        color: $text-color;
        text-align: center;
      }

      .nut-calendar__month-title {
        height: 23px;
        margin: 8px 0;
        font-size: $calendar-month-title-font-size;
        line-height: 23px;
      }

      .nut-calendar__days {
        overflow: hidden;

        .nut-calendar__day {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          float: left;
          width: 14.28%;
          height: 64px;
          font-weight: $calendar-day-font-weight;

          &.weekend {
            color: $calendar-day67-font-color;
          }

          .nut-calendar__day-tips {
            position: absolute;
            width: 100%;
          }

          .nut-calendar__day-tips--curr {
            position: absolute;
            bottom: 6px;
            width: 100%;
            font-size: 12px;
            line-height: 14px;
          }

          .nut-calendar__day-tip {
            position: absolute;
            bottom: 6px;
            width: 100%;
            font-size: 12px;
            line-height: 14px;
            color: $calendar-primary-color;
          }

          .nut-calendar__day-tips--top {
            top: 6px;
          }

          .nut-calendar__day-tips--bottom {
            bottom: 6px;
          }

          &--active {
            color: $white !important;
            background-color: $calendar-primary-color;
            border-radius: $calendar-day-active-border-radius;

            .nut-calendar__day-tips {
              visibility: hidden;
            }

            .nut-calendar__day-tips--curr {
              visibility: hidden;
            }

            .nut-calendar__day-tip {
              color: $white;
            }
          }

          &--disabled {
            color: $calendar-disable-color !important;
          }

          &--choose {
            color: $calendar-choose-font-color;

            &::after {
              position: absolute;
              inset: 0;
              content: '';
              background-color: $calendar-choose-color;
              opacity: 0.09;
            }
          }

          .nut-calendar__day-value {
            padding: 2px 0;
            font-size: $calendar-day-font;
          }
        }
      }
    }
  }

  // 底部导航
  .nut-calendar__footer {
    display: flex;
    width: 100%;
    height: 62px;
    background-color: $white;

    .nut-calendar__confirm {
      width: 100%;
      height: 44px;
      margin: 10px 18px;
      line-height: 44px;
      color: $white;
      text-align: center;
      background: $button-primary-background-color;
      border-radius: 22px;
    }
  }
}