@import '../radiogroup/index';

.nut-theme-dark {
  .nut-radio {
    &__label {
      color: $dark-color;

      &--disabled {
        color: $radio-label-disable-color;
      }
    }

    &__button {
      color: $dark-color;
      background: $dark-background;

      &--disabled {
        color: $radio-label-disable-color;
        border: 1px solid $radio-label-disable-color;
      }
    }
  }
}

.nut-radio {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  &:last-child {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  &--reverse {
    .nut-radio__label {
      margin-right: $radio-label-margin-left;
      margin-left: 0;
    }
  }

  &__button {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: $radio-button-padding;
    font-size: $radio-button-font-size;
    color: $radio-label-font-color;
    background: #f6f7f9;
    border: 1px solid #f6f7f9;
    border-radius: $radio-button-border-radius;

    &--active {
      position: relative;
      color: $radio-label-font-active-color;
      background: transparent;
      border: 1px solid $radio-label-button-border-color;

      &::after {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $radio-label-button-background;
        border-radius: $radio-button-border-radius;
        opacity: 0.05;
      }
    }

    &--disabled {
      color: $radio-label-disable-color;
      border: none;
    }
  }

  &__label {
    flex: 1;
    margin-left: $radio-label-margin-left;
    font-size: $radio-label-font-size;
    color: $radio-label-font-color;

    &--disabled {
      color: $radio-label-disable-color;
    }
  }

  &__icon {
    color: $radio-label-font-active-color;
    transition-duration: 0.3s;
    transition-property: color, border-color, background-color;
  }

  &__icon--unchecked {
    color: $radio-icon-disable-color;
  }

  &__icon--disable {
    color: $radio-icon-disable-color2;
  }
}
