@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 单行超长省略号
@mixin oneline-ellipsis($width: 100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行超长省略号
@mixin moreline-ellipsis($line: 2, $width: 100%) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  word-break: break-all;
  -webkit-box-orient: vertical;
}
