@import '../button/index';
@import '../swipe/index';

.nut-theme-dark {
  .nut-address-list {
    &-swipe,
    &-general {
      color: $dark-color;
      background-color: $dark-background2;
      border-bottom: 1px solid $dark-color-gray;

      &__mask {
        background-color: $dark-color3;

        &-copy {
          color: $dark-color-gray;
          background-color: $dark-color;
        }
      }
    }

    &-item {
      &__addr {
        color: $dark-color-gray;
      }
    }

    &__bottom {
      background-color: $dark-background2;
    }
  }
}

.nut-address-list {
  overflow: hidden;

  &:last-child {
    padding-bottom: 84px;
  }

  &-swipe,
  &-general {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 76px;
    padding: 5px 10px;
    font-size: $addresslist-font-size;
    color: $addresslist-font-color;
    background-color: $addresslist-bg;
    border-bottom: 1px solid $addresslist-border;

    &__mask {
      position: absolute;
      inset: 0;
      z-index: 2001;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 40px;
      background-color: $addresslist-mask-bg;

      &-copy,
      &-set,
      &-del {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        padding: 0 10px;
        font-size: 14px;
        text-align: center;
        background-color: $white;
        border-radius: 50%;
      }

      &-set {
        color: $white;
        background-color: $addresslist-set-bg;
      }

      &-del {
        color: $white;
        background-color: $addresslist-del-bg;
      }
    }
  }

  &-general {
    &:last-child {
      border-bottom: none;
    }
  }

  .nut-swipe {
    &:last-of-type {
      .nut-address-list-swipe {
        border-bottom: none;
      }
    }
  }

  &-item {
    width: 100%;

    &__info {
      display: flex;
      justify-content: space-between;

      &-contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;

        &-name {
          max-width: 145px;
          word-wrap: break-word;
        }

        &-tel {
          max-width: 110px;
          margin-left: 8px;
          word-wrap: break-word;
        }

        &-default {
          height: 16px;
          padding: 0 6px;
          margin-left: 5px;
          font-size: 12px;
          line-height: 16px;
          color: $addresslist-contnts-contact-color;
          background: $addresslist-contnts-contact-default;
          border-radius: 2px;
        }
      }

      &-handle {
        &-edit {
          margin-left: 15px;
        }
      }
    }

    &__addr {
      margin-top: 5px;
      font-size: $addresslist-addr-font-size;
      color: $addresslist-addr-font-color;
    }
  }

  &__bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    left: 0;
    z-index: 100000;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 18px 24px;
    background-color: $addresslist-bg;
  }

  .nut-address-list__mask-bottom {
    position: fixed;
    inset: 0;
    z-index: 2000;
    background-color: transparent;
  }
}
