.nut-theme-dark {
  .nut-cell-group {
    &__wrap {
      color: $dark-color;
      background: $dark-background3;
      box-shadow: none;
    }

  //   .nut-cell {
  //     &::after {
  //      border-bottom: $dark-cell-after-border-bottom;
  //    }
  //  }
  }
}

.nut-cell-group {
  display: block;

  &__title {
    display: inherit;
    padding: $cell-group-title-padding;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: $cell-group-title-font-size;
    line-height: $cell-group-title-line-height;
    color: $cell-group-title-color;
  }

  &__desc {
    display: inherit;
    padding: $cell-group-desc-padding;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $cell-group-desc-font-size;
    line-height: $cell-group-desc-line-height;
    color: $cell-group-desc-color;
  }

  &__wrap {
    display: inherit;
    margin: 10px 0;
    overflow: hidden;
    background-color: $cell-group-background-color;
    border-radius: $cell-border-radius;
    box-shadow: $cell-box-shadow;

  :deep(.nut-cell) {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

  :deep(.nut-cell) {
    &::after {
      border-bottom: $cell-after-border-bottom;
    }
  }
}
