@import '../popup/index';
@import '../swiper/index';
@import '../swiperitem/index';

.nut-image-movable-area{
  width: 100vw;
  height: 100vh;
}

.nut-image-preview {
  width: 100%;
  height: 100%;

  &-swiper {
    width: 100vw;
    height: 100%;
    background-color: transparent;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-index {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 2002;
    color: #fff;
    text-align: center;
    background: transparent;

    .arrow {
      position: absolute;
      left: 15px;
      transform: rotateZ(180deg);
    }
  }

  &-close-icon {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 2002;

    &-right {
      right: 10px;
    }

    &-left {
      left: 10px;
    }
  }

  .popup-bg {
    background: rgb(0 0 0 / 90%);
  }

  .popup-box {
    height: 100%;
    overflow: visible;
    background-color: transparent;
  }
}

.nut-image-preview-custom-pop {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent !important;
}

.nut-image-preview-swiper .nut-swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .nut-image-preview-box {
    width: 100%;
  }

  .nut-video {
    // height: auto;
    video {
      object-fit: contain;
    }
  }
}
