@import './reset.css';

html .dark {
  .uni-page-head {  
        background-color: #1B1C1E;  
        color: white;  
    }  
}

page,
#app {
  width: 100%;
  height: 100%;

  .nut-theme-dark{
   .demo{
     background: black !important;
    }
  }

  .demo {
    height: auto;
    padding: 0 17px 17px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f7f8fa;

    
    &.full {
      padding: 0;

      .title {
        padding-left: 27px;
      }
    }

    &.bg-w {
      background: #fff;
    }

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    > .title {
      padding: 0 10px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: normal;
      color: rgb(144 156 164 / 100%);
    }

    > .p {
      font-size: 12px;
    }

    .card {
      padding: 25px 18px;
      background: rgb(255 255 255 / 100%);
    }
  }
  
}


/* #ifdef H5 */
*::-webkit-scrollbar {
  --at-apply: w0;
}
/* #endif */

