.nut-theme-dark {
  .nut-sku {
    &-operate {
      &-btn {
        background: $dark-background2;
      }
    }
  }
}

.nut-sku-header {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    padding: 0 18px;
    margin-top: 18px;

    .nut-sku-header-img {
      flex-shrink: 0;
      width: $sku-product-img-width;
      height: $sku-product-img-height;
      margin-right: 12px;
      border-radius: $sku-product-img-border-radius;
    }

    &-right {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;

      &-extra {
        font-size: 12px;
        color: $text-color;
      }
    }
  }