.nut-theme-dark {
  .nut-backtop {
    &.show {
      color: $dark-color;
      background: $dark-background;
      border: 1px solid $dark-background;
    }
  }
}

.nut-backtop {
  position: fixed;
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: $white;
    border: 1px solid $backtop-border-color;
    border-radius: 50%;
  }

  &.show :active {
    background: rgb(0 0 0 / 10%);
  }

  &-main {
    transition: all 0.2s ease-in-out;
  }
}


