@import '../popover/index';

.nut-tour {
  &-mask {
    position: fixed;
    z-index: 1002;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 0 150vh rgb(0 0 0 / 50%);

    &-none {
      box-shadow: none;
    }

    &-hidden {
      opacity: 0;
    }
  }

  &-content {
    display: block;
    min-width: 200px;
    padding: 10px 12px;

    &-top {
      display: block;
      text-align: right;

      &-close {
        width: 10px;
        height: 10px;
      }
    }

    &-inner {
      margin: 10px 0;
      font-size: 14px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      &-init {
        margin-left: 10px;
      }

      &-operate {
        display: flex;
        justify-content: flex-end;

        &-btn {
          display: inline-block;
          padding: 2px 4px;
          margin-left: 4px;
          font-size: 12px;
          color: $text-color;
          border: 1px solid $disable-color;
          border-radius: 4px;

          &.active {
            color: #fff;
            background: $primary-color;
            border: 0;
          }
        }
      }
    }

    &-tile {
      .nut-tour-content-inner {
        margin: 0;
      }
    }
  }

  &-masked {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vh;
    height: 100vh;
    background: transparent;
  }
}
