@import '../price/index';
@import '../inputnumber/index';
@import '../popup/index';

.nut-theme-dark {
  .nut-sku {
    background: $dark-background;
  }
}

.nut-sku {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background: $white;

  &-content {
    flex: 1;
    padding: 0 18px;
    margin-top: 24px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
